@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2A6559;
    width: 120px;
    height: 120px;
    margin: auto ;
    margin-top:16rem;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

body{
    margin:0px;
    padding: 0px;
    
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 120px;
}
.home-header{

    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../routes/images/header-bg.png");
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}
nav ul{
	display: flex;
}
.active{
    background-color: #2A6559;
    color:rgb(255, 255, 255);
	box-shadow: 5px 10px 30px #D4EDE8;
	transition: all ease 0.2s;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#2A6559;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
	background-color: #2A6559;
    color:#FFFFFF;
	box-shadow: 5px 10px 30px #D4EDE8;
	transition: all ease 0.2s;
}


/*Home-header*/

.home-header-intro{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
	left: 16%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.home-header-intro span{
    color: #2A6559;
}
.home-header-intro .home-header-details{
    color: #2A6559;
}
.home-header-intro h1{
	font-family:'Montserrat';
	font-size: 46px;
	margin:0px;
	letter-spacing: 3px;
	color:#2A6559;
}
.home-header-intro p{
    color: #2A6559; font-weight: 500;
}
.home-header-btn{
	width:110px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #2A6559;
    box-shadow: 5px 10px 30px #D4EDE8;
    border-radius: 10px;
	color:#ffffff;
}
.home-header-btn:hover{
	background-color: #2A6559;
    transition: all ease 0.5s;
    color: #ffffff;
    box-shadow: 5px 0px 30px #2A6559;
}

/*Home-howwework*/

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-flex {
    display: flex;
    justify-content: space-between;
}
.home-how-it-works {
    padding: 3rem 0;
    background: #2A6559;
    text-align: center;
}

.home-how-it-works h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.home-how-it-works .home-flex > div {
    width: 30%;
}

.home-how-it-works h4 {
    color: #ffffff;
    margin-top: 1rem;
}
.home-how-it-works p{
    color: #D4EDE8;
}

.home-how-it-works span.fas {
    color: #ffffff;
    font-size: 35px;
}

/*Home-About Section*/
  .home-about{
	width:100%;
	height: 100vh;
	background-color:#ffffff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}


.home-about-text{
	width: 50%;
}
.home-about-text h2{
	font-size: 2rem;
	color:#2A6559;
	font-weight: 400;
}
.home-about-text h2{
	margin: 0px;
	padding: 0px;
}
.home-about-text p{
	font-size: 1.2rem;
	color:#2A6559;
	
}

.home-about-model img{
    height: 400px;
}
 
#notfound{
    width: 100%; height: 100%;
    color: #2A6559;  
    font-size: 10em; 
    font-weight: bold; 
    text-align: center; 
  }




/*Search Page*/


.search-header{
    background-color: #2A6559;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin:10px 0px;
    margin-top: 80px;
    padding: 30px 0px;
}
.search-header h3{
	font-size:2.5rem;
    margin:20px;
    color: #ffffff;
}
.search-input{
	width:400px;
	height:50px;
	background-color:#D4EDE8;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.search-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}
.search-input button{
	width:200px;
	height:35px;
	background-color:#2A6559;
	color:#D4EDE8;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}


.dFlex, nav, nav ul, .search-display, .search-display .search-result,.search-display .search-result .search-result-img, .search-display .search-result .search-result-header, .search-result-btn, .footer, .footer .social, .footer .social .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.search-display{
    position: relative;
    width: 70%;
    height: 100%;
    margin: 60px auto;
    padding: 60px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
 
  
  .search-display .search-result {
    display: inline-block;
    width: 30%;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
  }
  
  .search-display .search-result .search-result-img {
    margin-top: -5vw;
  }
  
  .search-display .search-result .search-result-img img {
    width: 200px;
    height: 200px;
  }
  
  .search-display .search-result .search-result-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #2A6559;
    margin: 25px 0;
  }
  
  .search-display .search-result .search-result-header h2 {
    font-size: 18px;
  }
  
  .search-display .search-result .search-result-header p {
    font-size: 14px;
    text-align: center;
    color: #2A6559;
    margin: 8px 0;
  }
  
  .search-display .search-result .search-result-header .price {
    font-size: 25px;
    color: #2A6559;
  }
  
  .search-display .search-result .search-result-header .price span {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
  }
  
  .search-display .search-result:hover {
    background-color: #D4EDE8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .search-display .search-result:hover .search-result-btn {
    background-color: #2A6559;
    color: #D4EDE8;
  }
  
  .search-result-btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    background-color: #2A6559;
    color: #D4EDE8;
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
  }

  /*Footer*/

.main-footer{
    color: #D4EDE8;
    background-color: #2A6559;
    position: relative;
    bottom: 0;
    width: 100%;
}


hr{
    color: #D4EDE8;
    width: 100%;
}

.footer-col{
    display: inline-block;
    width: 33%;
}

.footer-row{
    width: 100%;
    position: relative;
}

.footer-col-u{
    padding-bottom: 1.5em;
}


/* Profile Account*/

.profile-page .account-profile , .shadow {
    box-shadow: 0 15px 35px #D4EDE8,0 5px 15px #D4EDE8!important;
}

.account {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: .0625rem solid rgba(0,0,0,.05);
    border-radius: .25rem;
    margin-bottom: 2em;
    margin-top: 2em;
}


.justify-account-center {
    justify-content: center!important;
}



.account-center {
    text-align: center!important;
}

.account-center h3 {
    color: #2A6559;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 10px;
}



.account-top {
    margin-top: 3rem!important;
}

.logOutButton {
  background-color: #BF0B2C;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}


.account-bottom {
    padding-bottom: 3rem!important;
}


.account-element{
    margin-top: 1em;
}

/*Request*/

/*Form Styling*/

.contact-header{
    font-size: 24px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 10em;
    padding-right: 10em;
    color: #D4EDE8;
    width: 100%;
    background-color: #2A6559;
}
.contact-form .contact-row{
	margin-left:-5px;
	margin-right:-5px;
}
.contact-form .contact-column{
	padding-right:20px;
}
.form-control, .form-control:focus{
	-webkit-box-shadow:none;
	box-shadow:none;
}
.contact-form-group {
  margin-bottom: 24px;
  width: 50%;
  display: inline;
}
.contact-form .contact-form-group{
	margin-bottom:10px;
}
.contact-form .form-control,
.contact-form  label{
	color:#2b2b2b;
	font-size:13px;
	font-weight:normal;
}
.contact-form .form-control{
	height:42px;
	background:#fbfbfb;
	border:1px solid #dddddd;
    width: 40%;
    display: inline;
    margin-bottom: 10px;
}
.contact-form .form-control{
	background:transparent;
}

.contact-form textarea{
	min-height:160px;
	height:160px;
    width: 40%;
	resize:none;
}


.Contact-container {
    margin-left: 22%;
    width: 70%;
    padding: 10px;
    border-top: 25px #2A6559 ;
}

.contact-btn{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 0;
    margin-bottom: 24px;
    color: #2A6559;
    width: 10%;
    background-color: #D4EDE8;
    cursor: pointer;
    border-radius: .3em;
    font-weight: bold;
}

.contact-btn:hover{
    color: #D4EDE8;
    background-color: #2A6559;
}

.contact-btn:active{
    color: #242425;
    background-color: #2A6559;
}


/*Garage*/

.grid-container {
    margin-top: 2.5em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 20em;
    padding-right: 20em;
    width: 100%;
  }

.grid-container h3{
    margin-left: 10px;
    margin-bottom: 10px;
    color: #2A6559;
}

  .select-grid {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #2A6559;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    padding-right: 1em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #2A6559;
    border-radius: .3em;
    background-color: none;
   
  }
  
  /* Hover style */
  .select-css:hover {
    border-color: #2A6559;
    box-shadow: 5px 0px 30px #2A6559;
  }
  /* Focus style */
  .select-css:focus {
    border-color: #2A6559;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px #2A6559;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #2A6559; 
    outline: none;
  }
  
  /* Set options to normal weight */
  .select-css option {
    font-weight:normal;
  }
  
  .option-grid{
      margin-left: 5px;
      margin-right: 5px;
  }

  .garage-heading{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1px;
    padding-left: 10em;
    padding-right: 10em;
    color: #D4EDE8;
    width: 100%;
    background-color: #2A6559;
  }

  .plus-grid{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 2em;
    margin-bottom: 2.5em;
    margin-left: 45%;
    color: #2A6559;
    width: 10%;
    background-color: #D4EDE8;
    cursor: pointer;
    border-radius: .3em;
    font-weight: bold;
  }

  .plus-grid:hover{
      color: #D4EDE8;
      background-color: #2A6559;
  }

  .plus-grid:active{
      color: #242425;
      background-color: #2A6559;
  }

  .paragraph-grid{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 2em;
    margin-bottom: 2.5em;
    margin-left: 45%;
    color: #2A6559;
    width: 10%;
    background-color: #D4EDE8;
    border-radius: .3em;
    font-weight: bold;
  }