@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2A6559;
    width: 120px;
    height: 120px;
    margin: auto ;
    margin-top:16rem;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

body{
    margin:0px;
    padding: 0px;
    
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 120px;
}
.header{

    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../pages/images/header-bg.png");
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}
nav ul{
	display: flex;
}
.active{
    background-color: #2A6559;
    color:rgb(255, 255, 255);
	box-shadow: 5px 10px 30px #D4EDE8;
	transition: all ease 0.2s;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#2A6559;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
.property{
    font-family: calibri;
	height:40px;
	line-height: 43px;
	padding: 0px 10px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    background-color: #2A6559;
}
nav ul li a:hover{
	background-color: #2A6559;
    color:#FFFFFF;
	box-shadow: 5px 10px 30px #D4EDE8;
	transition: all ease 0.2s;
}

.activePage{
	background-color: #2A6559;
    color:#FFFFFF;
}

nav .menu-btn,
.menu-icon{
		display:none;
	}
.intro{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
	left: 16%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.intro span{
    color: #2A6559;
}
.intro .details{
    color: #2A6559;
}
.intro h1{
	font-family:'Montserrat';
	font-size: 46px;
	margin:0px;
	letter-spacing: 3px;
	color:#2A6559;
}
.intro p{
    color: #2A6559; font-weight: 500;
}
.header-btn{
	width:110px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #2A6559;
    box-shadow: 5px 10px 30px #D4EDE8;
    border-radius: 10px;
	color:#ffffff;
}
.header-btn:hover{
	background-color: #2A6559;
    transition: all ease 0.5s;
    color: #ffffff;
    box-shadow: 5px 0px 30px #2A6559;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.how-it-works {
    padding: 3rem 0;
    background: #2A6559;
    text-align: center;
}

.how-it-works h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.how-it-works .flex > div {
    width: 30%;
}

.how-it-works h4 {
    color: #ffffff;
    margin-top: 1rem;
}
.how-it-works p{
    color: #D4EDE8;
}

.how-it-works span.fas {
    color: #ffffff;
    font-size: 35px;
}
  .about{
	width:100%;
	height: 100vh;
	background-color:#ffffff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	width: 50%;
}
.about-text h2{
	font-size: 2rem;
	color:#2A6559;
	font-weight: 400;
}
.about-text h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:#2A6559;
	
}
.about-text button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#2A6559;
}
.about-text button:hover{
	background-color: #2A6559;
    transition: all ease 0.3s;
    color: #ffffff;
    box-shadow: 5px 0px 30px #2A6559;
}
.about-model img{
    height: 400px;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.contact{
    background-color: #2A6559;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin:10px 0px;
    margin-top: 80px;
    padding: 30px 0px;
}
.contact h3{
	font-size:2.5rem;
    margin:20px;
    color: #ffffff;
}
.contact-input{
	width:400px;
	height:50px;
	background-color:#D4EDE8;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}
.contact-input a{
	width:200px;
	height:35px;
	background-color:#2A6559;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}
#notfound{
    background-color: rgb(255, 51, 0);
  }
@media(max-width:1190px){
    #notfound{
        background-color: aqua;
      }
	.header{
        background-size: 1150px !important;
        text-align: center;
	}
	.intro{
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}
	.about-model img{
		height:400px;
    }
    .agent{
		height:auto;
    }
    .b-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
	.a-b-img img{
		object-fit:contain;
	}

}

@media(max-width:970px){
	.main{
		background-image: none !important;
		
	}
	.intro{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .header-btn{
        margin-left: 30%;
    }
	.about-model{
		display: none;
	}
	.about{
        text-align: center;
		justify-content: center;
		padding-top: 0px;
	}
	.about-text{
		width: 90%;
	}
	.about-text h1{
		font-size:4rem;
    }
	
}

@media(max-width:600px){
	.intro{
		width:60%;
    }}
    .scroll{
        left: 42.5%;
    }
    @media (max-width: 500px) {
        .how-it-works .flex {
            display: block;
        }
    
        .how-it-works .flex > div {
            width: 100%;
            margin-top: 2rem;
        }
        .contact{
            margin-top: 1000px;
        }
    
@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
            position: fixed;
        }
        .property{
            background: none;
            font-size: 13px;
            color: #000;
            padding: 0px;
        }
        .logo img{
            width:70px;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#FFFFFF;
            border-bottom:4px solid #064757;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#333333;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:20px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:#333;
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:5px;
        }
        nav .menu-icon .nav-icon:after{
            top:-5px;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }}
        @media(max-width:400px){
            .s-box{
                width: 100%;
                height:400px;
            }
        }}


/*Search Page*/


.dFlex, nav, nav ul, .main_content, .main_content .card,.main_content .card .card_img, .main_content .card .card_header, .btn, .footer, .footer .social, .footer .social .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.main_content {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 60px auto;
    padding: 60px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
 
  
  .main_content .card {
    display: inline-block;
    width: 30%;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
  }
  
  .main_content .card .card_img {
    margin-top: -5vw;
  }
  
  .main_content .card .card_img img {
    width: 200px;
    height: 200px;
  }
  
  .main_content .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #2A6559;
    margin: 25px 0;
  }
  
  .main_content .card .card_header h2 {
    font-size: 18px;
  }
  
  .main_content .card .card_header p {
    font-size: 14px;
    text-align: center;
    color: #2A6559;
    margin: 8px 0;
  }
  
  .main_content .card .card_header .price {
    font-size: 25px;
    color: #2A6559;
  }
  
  .main_content .card .card_header .price span {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
  }
  
  .main_content .card:hover {
    background-color: #D4EDE8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .main_content .card:hover .btn {
    background-color: #2A6559;
    color: #D4EDE8;
  }
  
  .btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    background-color: #2A6559;
    color: #D4EDE8;
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
  }

  /*Footer*/

.main-footer{
    color: #D4EDE8;
    background-color: #2A6559;
    position: relative;
    bottom: 0;
    width: 100%;
}


hr{
    color: #D4EDE8;
    width: 100%;
}

.col{
    display: inline-block;
    width: 33%;
}

.row{
    width: 100%;
    position: relative;
}

.col-u{
    padding-bottom: 1.5em;
}
