@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');



body{
    margin:0px;
    padding: 0px;
    
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
input{
    outline: none;
    border: none;
}
.logo img{
    width: 120px;
}
.header{

    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../pages/images/header-bg.png");
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}
nav ul{
	display: flex;
}
.active{
    background-color: #2A6559;
    color:rgb(255, 255, 255);
	box-shadow: 5px 10px 30px #D4EDE8;
	transition: all ease 0.2s;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#2A6559;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
.property{
    font-family: calibri;
	height:40px;
	line-height: 43px;
	padding: 0px 10px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    background-color: #2A6559;
}
nav ul li a:hover{
	background-color: #2A6559;
    color:#FFFFFF;
	box-shadow: 5px 10px 30px #D4EDE8;
	transition: all ease 0.2s;
}





.activePage{
	background-color: #2A6559;
    color:#FFFFFF;
}


.intro{
	font-family: 'Montserrat';
	width: 500px;
	position: absolute;
	left: 16%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.intro span{
    color: #2A6559;
}
.intro .details{
    color: #2A6559;
}
.intro h1{
	font-family:'Montserrat';
	font-size: 46px;
	margin:0px;
	letter-spacing: 3px;
	color:#2A6559;
}
.intro p{
    color: #2A6559; font-weight: 500;
}
.header-btn{
	width:110px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #2A6559;
    box-shadow: 5px 10px 30px #D4EDE8;
    border-radius: 10px;
	color:#ffffff;
}
.header-btn:hover{
	background-color: #2A6559;
    transition: all ease 0.5s;
    color: #ffffff;
    box-shadow: 5px 0px 30px #2A6559;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.how-it-works {
    padding: 3rem 0;
    background: #2A6559;
    text-align: center;
}

.how-it-works h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.how-it-works .flex > div {
    width: 30%;
}

.how-it-works h4 {
    color: #ffffff;
    margin-top: 1rem;
}
.how-it-works p{
    color: #D4EDE8;
}

.how-it-works span.fas {
    color: #ffffff;
    font-size: 35px;
}
  .about{
	width:100%;
	height: 100vh;
	background-color:#ffffff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	width: 50%;
}
.about-text h2{
	font-size: 2rem;
	color:#2A6559;
	font-weight: 400;
}
.about-text h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:#2A6559;
	
}
.about-text button{
	width: 140px;
	height: 40px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#2A6559;
}
.about-text button:hover{
	background-color: #2A6559;
    transition: all ease 0.3s;
    color: #ffffff;
    box-shadow: 5px 0px 30px #2A6559;
}
.about-model img{
    height: 400px;
}
 
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.contact{
    background-color: #2A6559;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin:10px 0px;
    margin-top: 80px;
    padding: 30px 0px;
}
.contact h3{
	font-size:2.5rem;
    margin:20px;
    color: #ffffff;
}
.contact-input{
	width:400px;
	height:50px;
	background-color:#D4EDE8;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}
.contact-input a{
	width:200px;
	height:35px;
	background-color:#2A6559;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}
@media(max-width:1190px){
	.header{
        background-size: 1150px !important;
        text-align: center;
	}
	.intro{
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}
	.about-model img{
		height:400px;
    }
    .agent{
		height:auto;
    }
    .b-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
	.a-b-img img{
		object-fit:contain;
	}

}

@media(max-width:970px){
	.main{
		background-image: none !important;
		
	}
	.intro{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .header-btn{
        margin-left: 30%;
    }
	.about-model{
		display: none;
	}
	.about{
        text-align: center;
		justify-content: center;
		padding-top: 0px;
	}
	.about-text{
		width: 90%;
	}
	.about-text h1{
		font-size:4rem;
    }
	
}

@media(max-width:600px){
	.intro{
		width:60%;
    }}
    .scroll{
        left: 42.5%;
    }
    @media (max-width: 500px) {
        .how-it-works .flex {
            display: block;
        }
    
        .how-it-works .flex > div {
            width: 100%;
            margin-top: 2rem;
        }
        .contact{
            margin-top: 1000px;
        }
    
@media(max-width:1100px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
            position: fixed;
        }
        .property{
            background: none;
            font-size: 13px;
            color: #000;
            padding: 0px;
        }
        .logo img{
            width:70px;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#FFFFFF;
            border-bottom:4px solid #064757;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#333333;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:20px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:#333;
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:5px;
        }
        nav .menu-icon .nav-icon:after{
            top:-5px;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }}
        @media(max-width:400px){
            .s-box{
                width: 100%;
                height:400px;
            }
        }}


/*Search Page*/


.dFlex, nav, nav ul, .main_content, .main_content .card,.main_content .card .card_img, .main_content .card .card_header, .btn, .footer, .footer .social, .footer .social .fa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 50px 20px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.main_content {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 60px auto;
    padding: 60px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
 
  
  .main_content .card {
    display: inline-block;
    width: 30%;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 50px;
  }
  
  .main_content .card .card_img {
    margin-top: -5vw;
  }
  
  .main_content .card .card_img img {
    width: 200px;
    height: 200px;
  }
  
  .main_content .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #2A6559;
    margin: 25px 0;
  }
  
  .main_content .card .card_header h2 {
    font-size: 18px;
  }
  
  .main_content .card .card_header p {
    font-size: 14px;
    text-align: center;
    color: #2A6559;
    margin: 8px 0;
  }
  
  .main_content .card .card_header .price {
    font-size: 25px;
    color: #2A6559;
  }
  
  .main_content .card .card_header .price span {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
  }
  
  .main_content .card:hover {
    background-color: #D4EDE8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .main_content .card:hover .btn {
    background-color: #2A6559;
    color: #D4EDE8;
  }
  
  .btn {
    width: 130px;
    height: 35px;
    font-size: 14px;
    border-radius: 35px;
    background-color: #2A6559;
    color: #D4EDE8;
    cursor: pointer;
    position: relative;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
  }

  /*Footer*/

.main-footer{
    color: #D4EDE8;
    background-color: #2A6559;
    position: relative;
    bottom: 0;
    width: 100%;
}


hr{
    color: #D4EDE8;
    width: 100%;
}

.col{
    display: inline-block;
    width: 33%;
}

.frow{
    width: 100%;
    position: relative;
}

.col-u{
    padding-bottom: 1.5em;
}


/* Profile Account*/

.profile-page .card-profile .card-profile-image img, .shadow {
    box-shadow: 0 15px 35px #D4EDE8,0 5px 15px #D4EDE8!important;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: .0625rem solid rgba(0,0,0,.05);
    border-radius: .25rem;
    margin-bottom: 2em;
    margin-top: 2em;
}

.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}

.justify-content-center {
    justify-content: center!important;
}



.profile-page .card-profile .card-profile-image {
    position: relative;
}

.profile-page .card-profile .card-profile-image img {
    max-width: 180px;
    border-radius: .25rem;
    transform: translate(-50%,-30%);
    position: absolute;
    left: 50%;
    transition: all .15s ease;
}

.text-lg-right {
    text-align: right!important;
}

.align-self-lg-center {
    align-self: center!important;
}

.order-lg-3 {
    order: 3;
}

.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.text-center {
    text-align: center!important;
}

.text-center h3 {
    color: #2A6559;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 10px;
}



.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.logOutButton {
  background-color: #BF0B2C;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}

.pt-5, .py-5 {
    padding-top: 3rem!important;
}

.lead, p {
    font-weight: 300;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 3em;
}

.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}

/*Request*/

/*Form Styling*/

.bottom30{
    width: 100%;
    font-size: 1.5em;
    color: #2A6559;
}
.callus.transparent .row{
	margin-left:-5px;
	margin-right:-5px;
}
.callus.transparent .col-sm-6,
.callus.transparent .col-sm-{
	padding-right:20px;
}
.form-control, .form-control:focus{
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form-group {
  margin-bottom: 24px;
  width: 50%;
  display: inline;
}
.callus.transparent .form-group{
	margin-bottom:10px;
}
.callus .form-control,
.callus  label{
	color:#2b2b2b;
	font-size:13px;
	font-weight:normal;
}
.callus .form-control{
	height:42px;
	background:#fbfbfb;
	border:1px solid #dddddd;
    width: 40%;
    display: inline;
    margin-bottom: 10px;
}
.callus.transparent .form-control{
	background:transparent;
}
.callus .form-control,  .select{
	color:#2b2b2b;
	font-size:13px;
}
.callus textarea{
	min-height:160px;
	height:160px;
    width: 40%;
	resize:none;
}
.callus span,
.callus a{
	display:inline-block;
	font-size:13px;
	vertical-align: top;
}
.select {
    border:1px solid #dddddd;
    display: block;
    height: 42px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.select::after {
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #2b2b2b;
    content: "\f0dd";
    font-size: 16px;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 6px;
    z-index: 1;
}
.select select {
    -moz-appearance: none;
    border: 0 none;
    color: #2A6559;
    height: 42px;
    padding: 12px;
    width: 100%;
}
.select select option {
  background: #fff;
  border: 1px solid #d1d1d1;
  height: 42px;
  padding: 6px 12px;
}
label.bold{
	font-weight: bold;
}

.Contact-container {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 3em;
    border-top: 25px #2A6559 ;
}