.register {
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  color: #D4EDE8;
}

.register-side-logo {
  height: 49px;
  width: 158px;
  background-image: url("../routes/images/logo1.png");
  display: inline-block;
  margin-top: 10px;
  margin-left: 25px;
}

.register-side {
  width: 50%;
  background-color: #D4EDE8;
}

.register-side-img {
  position: absolute;
  width: 20em;
  height: 20em;
  left: 0;
  bottom: 0;
}

.register-form {
  width: 50%;
  background-color: #2A6559;
  padding: 25px 40px;
  overflow: auto;
}

.register-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.register-login-item {
  background-color: #142426;
  color: #D4EDE8;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.register-login-item:active{
  color: #D4EDE8;
}

.register-login-item:hover{
  background-color: #1E4840;
  transition: all ease 0.2s;
}

.register-login-item:focus{
  background-color: #1E4840;
}


.register-login-item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.register-login-item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.register-form-center {
  margin-bottom: 50px;
}

.register-form-title {
  color: #D4EDE8;
  font-weight: 300;
  margin-bottom: 50px;
}



.register-form-field {
  margin-bottom: 40px;
}

#names {
  padding-bottom: 40px;
  display: table-cell;
}

.register-form-label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: #D4EDE8;
}
.register-form-input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: #142426;
  outline: none;
  border-bottom: 1px solid #142426;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.register-form-input::-webkit-input-placeholder {
  color: #142426;
}

.register-form-input:-ms-input-placeholder {
  color: #142426;
}

.register-form-input::-ms-input-placeholder {
  color: #142426;
}

.register-form-input::placeholder {
  color: #142426;
}

.regitser-form-btn {
  background-color: #D4EDE8;
  color: #142426;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  cursor: pointer;
}

.regitser-form-btn:active{
  background-color: #142426;
  color: #D4EDE8;
}


.register-form-checkbox-label {
  color: #D4EDE8;
  font-size: .9em;
}

.register-form-checkbox {
  position: relative;
  top: 1.5px;
}

.register-form-terms {
  color: #D4EDE8;
  border-bottom: 1px solid #D4EDE8;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}


